{% extends "base.html" %}
{% block content %}
<form role="form" class="form-horizontal" method="POST">
    <div class="form-group row">
        <label class="col-md-2 control-label">Game</label>
        <div class="col-md-10">
            <p class="form-control-static">{{product.name}}</p>
        </div>
    </div>
    <div class="form-group row">
        <label for="inputSummary" class="col-md-2 control-label">Summary</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="inputSummary" name="inputSummary" placeholder="One line summary text to display to readers">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputReview" class="col-md-2 control-label">Review</label>
        <div class="col-md-10">
            <textarea class="form-control" rows="12" id="inputReview" name="inputReview"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <label for="inputRating" class="col-md-2 control-label">Rating</label>
        <div class="radio-inline">
            <input type="radio" name="radioScore" id="radioScore"
            value="1">1
        </div>
        <div class="radio-inline">
            <input type="radio" name="radioScore" id="radioScore"
            value="2">2
        </div>
        <div class="radio-inline">
            <input type="radio" name="radioScore" id="radioScore"
            value="3">3
        </div>
        <div class="radio-inline">
            <input type="radio" name="radioScore" id="radioScore"
            value="4">4
        </div>
        <div class="radio-inline">
            <input type="radio" name="radioScore" id="radioScore"
            value="5">5
        </div>
    </div>
    <div class="row text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-default">Cancel</button>
    </div>
</form>
{% endblock %}